﻿@model DependencyProject.Models.Account

@{
    ViewBag.Title = "Log In";
}

<script>
    $(document).ready(function () {
        $('#recoverPasword').on('click', function () {
            var email = $('#emailInput').val();
            if (email != "") {
                $('#emailError').text("");
                recoverPassword(email);
            } else {
                $('#emailError').text("You must type your e-mail");
            }
        });
    });


    function recoverPassword(Email)
    {
        var EConditionOptions = {};
        EConditionOptions.url = "@Url.Action("RecoverPassword", "Accounts")";
        EConditionOptions.type = "POST";
        EConditionOptions.data = JSON.stringify({
            Email: Email
        });
        EConditionOptions.datatype = "json";
        EConditionOptions.contentType = "application/json";
        EConditionOptions.success = function (data) {
                switch(data){
                    case "True":
                        $('#Success').show();
                        $('#Success').text("Your e-mail has been send");
                        break;
                    case "False":
                        $('#Error').show();
                        $('#Error').text("Your e-mail could not be send, please try again");
                        break;
                    case "Error":
                        $('#Error').show();
                        $('#Error').text("There was an error, please try again");
                        break;
                }
        };
        $.ajax(EConditionOptions);
    }

</script>
<h2>Log In</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Account</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { id="emailInput",@class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { id="emailError",@class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Log In" class="btn btn-default" />
                <a id="recoverPasword" href="#">Recover Password</a>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
